<h1> Choose Server Options </h1>


<div class = "select">
    <select name ="format" id = "format">
        <option selected disabled "">Choose an Image </option>option>
        <option> {{images}}}</option>option>
        
    </select>
    <select name2 ="format" id = "format">
        <option selected disabled "">Choose network </option>option>
        <option> value="default">DEFAULT</option>option>
        <option> value="Web ">WEB</option>option>
        
      
    </select>

    <select name3 ="format" id = "format">
        <option selected disabled "">Choose a flavour</option>option>
        <option> value="default">DEFAULT</option>option>
        <option> value="Web ">WEB</option>option>
    </select>

    <select name4 ="format" id = "format">
        <option selected disabled "">Choose a KeyPair</option>option>
        <option> value="default">DEFAULT</option>option>
        <option> value="Web ">WEB</option>option>
       
    </select>

    <select name5 ="format" id = "format">
        <option selected disabled "">Choose a security Group </option>option>
        <option> value="default">DEFAULT</option>option>
        <option> value="Web ">WEB</option>option>
       
    </select>

</div>